main.container {
    margin-top: 20px;
}

.container-breadcrumb {
    background: rgba(0, 0, 0, 0.02);
    padding-top: 5px;
}

.header-profile-login,
.header-profile-menu-button {
    height: 40px;
}

.header-profile-menu-button {
    margin-left: 10px;
}

.header-profile-login-menu-placeholder {
    display: none;
}

.qui-window-popup {
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
}

.quiqqer-auth-login-container label span {
    font-size: 13px;
}

.quiqqer-auth-login-container [type="submit"] {
    display: block;
    float: none;
    margin: 0 auto;
    width: 160px;
}

.fa-close:before {
    content: '\00d7';
}


/** default nodes
 ================================= */

button {
    background-color: #467fcf;
    border: 1px solid #467fcf;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8125rem;
    font-weight: 600;
    letter-spacing: .03em;
    line-height: 1.84615385;
    min-width: 2.375rem;
    text-align: center;
    padding: 0.375rem 0.75rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button:hover {
    color: #fff;
    background-color: #316cbe;
    border-color: #2f66b3;
}

input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #1991eb;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
}


/** custom tabler stuff
 ================================= */

.card-loader {
    height: 100%;
    width: 100%;
    position: absolute !important;
}
