{assign var=leftSideBar value=$BricksManager->getBricksByArea('leftSidebar', $Site)}
{assign var=prefixContentBricks value=$BricksManager->getBricksByArea('prefixContentBricks', $Site)}
{assign var=suffixContentBricks value=$BricksManager->getBricksByArea('suffixContentBricks', $Site)}

{if $showPageHeader}
<header class="page-header">
    {if $showPageTitle}
    <h1 class="page-title">
        {$Site->getAttribute('title')}
    </h1>
    {/if}

    {if $showPageShort}
    <div class="content-short row col-12" itemprop="description">
        {$Site->getAttribute('short')|nl2br}
    </div>
    {/if}
</header>
{/if}

<div class="row">
    <div class="col-lg-3 mb-4">
        {if !empty($leftSideBar)}
        {foreach from=$leftSideBar item=Brick}
        <div class="card">
            <div class="card-body">
                {if $Brick->getAttribute('frontendTitle')}
                <h2 class="brick-title mt-0 mb-4">{$Brick->getAttribute('frontendTitle')}</h2>
                {/if}
                {assign var=showTitle value=$Brick->setSetting('showTitle', false)}
                {$Brick->create()}
            </div>
        </div>
        {/foreach}
        {/if}
    </div>

    <div class="col-lg-9">
        {if !empty($prefixContentBricks)}
        {foreach from=$prefixContentBricks item=Brick}
        <div class="card">
            <div class="card-body">
                {if $Brick->getAttribute('frontendTitle')}
                <h2 class="brick-title mt-0 mb-4">{$Brick->getAttribute('frontendTitle')}</h2>
                {/if}
                {assign var=showTitle value=$Brick->setSetting('showTitle', false)}
                {$Brick->create()}
            </div>
        </div>
        {/foreach}
        {/if}

        <!-- content -->
        <div class="row">
            <div class="col-12">
                {$Template->getBody()}
            </div>
        </div>


        {if !empty($suffixContentBricks)}
        {foreach from=$suffixContentBricks item=Brick}
        <div class="card">
            <div class="card-body">
                {if $Brick->getAttribute('frontendTitle')}
                <h2 class="brick-title mt-0 mb-4">{$Brick->getAttribute('frontendTitle')}</h2>
                {/if}
                {assign var=showTitle value=$Brick->setSetting('showTitle', false)}
                {$Brick->create()}
            </div>
        </div>
        {/foreach}
        {/if}
    </div>
</div>
